flows/CIRef_Child_Routed_Referrals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Automotive_Lead_Transfer</name>
        <label>Automotive Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>CMS_Product_Design_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automotive_Transfer_Listed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automotive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automotive_Transfer_Lead</targetReference>
            </connector>
            <label>Automotive Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Automotive_Referral__c is TRUE, then we need to create a child routed referral record for IHS.</description>
        <name>Automotive_Referral</name>
        <label>Automotive Referral?</label>
        <locationX>380</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>CMS_ProductDesign_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutomotiveReferralChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automotive_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automotive_Child_Record</targetReference>
            </connector>
            <label>Automotive Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CI_Lead_Transfer</name>
        <label>CI Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Ratings_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CI_Transfer_Listed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Platts_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CI_Transfer_Lead</targetReference>
            </connector>
            <label>CI Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Platts_Referral__c is TRUE, then we need to create a child routed referral record for CI.</description>
        <name>CiReferral</name>
        <label>CI Referral?</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>RatingsReferral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CiReferralChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Platts_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CiChildRecord</targetReference>
            </connector>
            <label>CiReferralChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMS_Product_Design_Lead_Transfer</name>
        <label>CMS/Product Design Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Financial_Services_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMS_Product_Design_Transfer_Listed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CMS/Product Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMS_Product_Design_Transfer_Lead</targetReference>
            </connector>
            <label>CMS/Product Design Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If CMS_ProductDesign_Referral__c is TRUE, then we need to create a child routed referral record for IHS.</description>
        <name>CMS_ProductDesign_Referral</name>
        <label>CMS/Product Design Referral?</label>
        <locationX>380</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Financial_Services_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMS_ProductDesign_Referral_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMS_Product_Design_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMS_Product_Design_Child_Record</targetReference>
            </connector>
            <label>CMS/Product Design Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESG_CSA_Lead_Transfer</name>
        <label>ESG CSA Lead Transfer?</label>
        <locationX>908</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Ratings_Transfer_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ESG CSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESG_CSA_Transfer_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESG_CSA_Referral</name>
        <label>ESG CSA Referral</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>RatingsChildRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interested_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESG_CSA_Child_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financial_Services_Lead_Transfer</name>
        <label>Financial Services Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>TransferLeadRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FS_Transfer_Listed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Financial Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FS_Transfer_Lead</targetReference>
            </connector>
            <label>FS Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Financial_Services_Referral__c is TRUE, then we need to create a child routed referral record for IHS.</description>
        <name>Financial_Services_Referral</name>
        <label>Financial Services Referral?</label>
        <locationX>380</locationX>
        <locationY>3047</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Financial_Services_Referral_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Services_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Services_Child_Record</targetReference>
            </connector>
            <label>Financial Services Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indices_Lead_Transfer</name>
        <label>Indices Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>CI_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indices_Transfer_Listed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Indices</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indices_Transfer_Lead</targetReference>
            </connector>
            <label>Indices Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Indices_Referral__c is TRUE, then we need to create a child routed referral record for Indices.</description>
        <name>IndicesReferral</name>
        <label>Indices Referral?</label>
        <locationX>380</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>CiReferral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndicesReferralChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Indices_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndicesChildRecord</targetReference>
            </connector>
            <label>Indices Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Transfer_Lead_To__c contains &quot;MI&quot;, then create a child lead transfer for MI.</description>
        <name>MILeadTransfer</name>
        <label>MI Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Indices_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MITransferListed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MI_Transfer_Lead</targetReference>
            </connector>
            <label>MI Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If MI_Referral__c is TRUE, then we need to create a child routed referral record for MI.</description>
        <name>MIReferral1</name>
        <label>MI Referral?</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>IndicesReferral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MIReferralChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MI_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MIChildRecord</targetReference>
            </connector>
            <label>MI Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ratings_Lead_Transfer</name>
        <label>Ratings Lead Transfer?</label>
        <locationX>1106</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Automotive_Lead_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ratings_Transfer_Listed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ratings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transfer_Lead_To__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ESG CSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESG_CSA_Lead_Transfer</targetReference>
            </connector>
            <label>Ratings Transfer Listed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Ratings_Referral__c is TRUE, then we need to create a child routed referral record for Ratings.</description>
        <name>RatingsReferral</name>
        <label>Ratings Referral?</label>
        <locationX>380</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Automotive_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RatingsReferralChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ratings_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESG_CSA_Referral</targetReference>
            </connector>
            <label>Ratings Referral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Different workflows for referrals vs. lead transfers.</description>
        <name>Referral_or_Lead_Transfer</name>
        <label>Referral or Lead Transfer?</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral_or_Re_Referral</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MIReferral1</targetReference>
            </connector>
            <label>Referral or Re-Referral</label>
        </rules>
        <rules>
            <name>Lead_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MILeadTransfer</targetReference>
            </connector>
            <label>Lead Transfer</label>
        </rules>
    </decisions>
    <description>Create child referrals for both referrals and lead transfer to track multi divisional referral routing and lead transfers.</description>
    <environments>Default</environments>
    <formulas>
        <description>If pre-load, set child status as &quot;Pre-load&quot;. For general referrals, set child status as &quot;Created&quot;.</description>
        <name>ChildStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status__c},&quot;Pre-Load&quot;), &quot;Pre-Load&quot;, 
IF(ISPICKVAL({!$Record.Status__c},&quot;Created&quot;), &quot;Created&quot;, 
NULL))</expression>
    </formulas>
    <formulas>
        <description>Tracks the division the referral is being referred to.</description>
        <name>DivisionReferredTo</name>
        <dataType>String</dataType>
        <expression>IF(AND({!$Record.Indices_Referral__c} = TRUE), &quot;Indices&quot;,
IF(AND({!$Record.MI_Referral__c} = TRUE), &quot;MI&quot;,
IF(AND({!$Record.Platts_Referral__c} = TRUE), &quot;Platts&quot;,
IF(AND({!$Record.Ratings_Referral__c} = TRUE), &quot;Ratings&quot;,
NULL))))</expression>
    </formulas>
    <formulas>
        <description>Populate the Division Sent From on SPG Referral Lead with picklist label not API name.</description>
        <name>DivisionSentFromlabel</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Division_Sent_From__c}, 
&quot;CMS/Product Design&quot;, &quot;Engineering Solutions&quot;,
&quot;Financial Services&quot;, &quot;Financial Services&quot;,
&quot;Resources&quot;, &quot;ENR&quot;,
&quot;Automotive&quot;, &quot;Mobility&quot;,
null)</expression>
    </formulas>
    <formulas>
        <description>Concatenates prior and current value of the divisions the lead is transferred to.</description>
        <name>DivisionsTransferred</name>
        <dataType>String</dataType>
        <expression>({!DivisionTransferredtoPriorValue}) + BR() + 
(IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;MI&quot;), &quot;MI, &quot;,null) + BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;Ratings&quot;), &quot;Ratings, &quot;,null) + BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;Platts&quot;), &quot;Platts, &quot;,null) +BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;Indices&quot;), &quot;Indices, &quot;,null) +BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;Automotive&quot;), &quot;Automotive, &quot;,null) +BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;ENR&quot;), &quot;ENR, &quot;,null) +BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;Financial Services&quot;), &quot;Financial Services, &quot;,null) +BR() +
IF(INCLUDES({!$Record.Transfer_Lead_To__c}, &quot;CMS/Product Design&quot;), &quot;CMS/Product Design, &quot;,null) )</expression>
    </formulas>
    <formulas>
        <description>If referral is created with status = &quot;Preload&quot;, then check Preload checkbox to TRUE.</description>
        <name>PreloadCheckboxTRUE</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status__c}, &quot;Pre-Load&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <description>If status is pre-load, then child record is also created with pre-load status.</description>
        <name>Set_status</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status__c},&quot;Pre-load&quot;), &quot;Pre-load&quot;, &quot;Created&quot;)</expression>
    </formulas>
    <formulas>
        <description>Searches for region based on user country. If country match is not found, &quot;Other&quot; is listed on the record.</description>
        <name>SubmitterRegionValue</name>
        <dataType>String</dataType>
        <expression>IF({!Referral_Region.IHS_Name__c} = {!$Record.Owner:User.Country}, {!Referral_Region.Referral_Region__r.MasterLabel}, 
IF({!Referral_Region.IHS_Name__c} &lt;&gt; {!$Record.Owner:User.Country}, &quot;Other&quot;,
null))</expression>
    </formulas>
    <interviewLabel>CIRef Create Child Referrals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIRef Child Routed Referrals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Automotive SPG_Referral_Lead__c record is created with division referred to listed as &quot;Automotive&quot;.</description>
        <name>Automotive_Child_Record</name>
        <label>Automotive Child Record</label>
        <locationX>248</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>CMS_ProductDesign_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
    </recordCreates>
    <recordCreates>
        <name>Automotive_Transfer_Lead</name>
        <label>Automotive Transfer Lead</label>
        <locationX>974</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>CMS_Product_Design_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CI_Transfer_Lead</name>
        <label>CI Transfer Lead</label>
        <locationX>974</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Ratings_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>CI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>CI SPG_Referral_Lead__c record is created with division referred to listed as &quot;CI&quot;.</description>
        <name>CiChildRecord</name>
        <label>CI Child Record</label>
        <locationX>248</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>RatingsReferral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>CI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SPG_Referral_Lead__c record is created with division referred to listed as &quot;CMS/Product Design&quot;.</description>
        <name>CMS_Product_Design_Child_Record</name>
        <label>CMS/Product Design Child Record</label>
        <locationX>248</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Financial_Services_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>CMS/Product Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CMS_Product_Design_Transfer_Lead</name>
        <label>CMS/Product Design Transfer Lead</label>
        <locationX>974</locationX>
        <locationY>2831</locationY>
        <connector>
            <targetReference>Financial_Services_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>CMS/Product Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Ratings SPG_Referral_Lead__c record is created with division referred to listed as &quot;ESG CSA&quot;.</description>
        <name>ESG_CSA_Child_Record</name>
        <label>ESG CSA Child Record</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Automotive_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>ESG CSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ESG_CSA_Transfer_Lead</name>
        <label>ESG CSA Transfer Lead</label>
        <locationX>776</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Automotive_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>ESG CSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>SPG_Referral_Lead__c record is created with division referred to listed as &quot;Financial Services&quot;.</description>
        <name>Financial_Services_Child_Record</name>
        <label>Financial Services Child Record</label>
        <locationX>248</locationX>
        <locationY>3167</locationY>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Financial Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>FS_Transfer_Lead</name>
        <label>FS Transfer Lead</label>
        <locationX>974</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>TransferLeadRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Financial Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Indices_Transfer_Lead</name>
        <label>Indices Transfer Lead</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>CI_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Indices</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Indices SPG_Referral_Lead__c record is created with division referred to listed as &quot;Indices&quot;.</description>
        <name>IndicesChildRecord</name>
        <label>Indices Child Record</label>
        <locationX>248</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>CiReferral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Indices</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>If &quot;MI&quot; Is one of the values selected when transferring lead.</description>
        <name>MI_Transfer_Lead</name>
        <label>MI Transfer Lead?</label>
        <locationX>974</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Indices_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>MI SPG_Referral_Lead__c record is created with division referred to listed as &quot;MI&quot;.</description>
        <name>MIChildRecord</name>
        <label>MI Child Record</label>
        <locationX>248</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>IndicesReferral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Ratings_Transfer_Lead</name>
        <label>Ratings Transfer Lead</label>
        <locationX>1040</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Automotive_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Ratings</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Ratings SPG_Referral_Lead__c record is created with division referred to listed as &quot;Ratings&quot;.</description>
        <name>RatingsChildRecord</name>
        <label>Ratings Child Record</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Automotive_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Division_Referred_From_Org_ID__c</field>
            <value>
                <elementReference>Get_Division_org_Id.CIRef_Divisional_Org_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_From__c</field>
            <value>
                <elementReference>$Record.Division_Sent_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Referred_To__c</field>
            <value>
                <stringValue>Ratings</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Status__c</field>
            <value>
                <elementReference>ChildStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPG_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPG_Referral_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Division org ID tracked on referral leads.</description>
        <name>Get_Division_org_Id</name>
        <label>Get Division org Id</label>
        <locationX>930</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIRef_Divisional_Org_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CIRef_Divisions__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>US-4562787: Search for region custom metadata based on country match between custom metadata and standard address country field on User object.</description>
        <name>Referral_Region</name>
        <label>Referral Region</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Referral_with_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHS_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Tracks if any division already received lead transfer.</description>
        <name>StorePriorDivisionTransferredTo</name>
        <label>StorePriorDivisionTransferredTo</label>
        <locationX>1106</locationX>
        <locationY>3623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_source_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>DivisionTransferredtoPriorValue</assignToReference>
            <field>Division_Transferred_To__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieves transfer lead record to get transfer lead to multiselect values.</description>
        <name>TransferLeadRecord</name>
        <label>TransferLeadRecord</label>
        <locationX>1106</locationX>
        <locationY>3383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interested_Product_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SPG_Referral__c</object>
        <outputAssignments>
            <assignToReference>InterestedProducts</assignToReference>
            <field>Transfer_Lead_To__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Interested_Product_Update</name>
        <label>Interested Product Update</label>
        <locationX>1106</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>StorePriorDivisionTransferredTo</targetReference>
        </connector>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interested_Product_Type__c</field>
            <value>
                <elementReference>InterestedProducts</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Searches for country match from Referral Country custom metadata to bring in the region value and stamp it on SPG referral. If no match is found or is blank, &quot;Other&quot; is stamped on the referral. Update includes checking pre-load checkbox to TRUE if status is &quot;pre-load&quot;.</description>
        <name>Update_Referral_with_Region</name>
        <label>Update Referral with Region</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Referral_or_Lead_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>IHS_HR_Sub_Business_Line__c</field>
            <value>
                <elementReference>$Record.Owner:User.HRSubBusinessLine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_load__c</field>
            <value>
                <elementReference>PreloadCheckboxTRUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Submitter_Region__c</field>
            <value>
                <elementReference>SubmitterRegionValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_source_lead</name>
        <label>Update source lead</label>
        <locationX>1106</locationX>
        <locationY>3743</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Division_Transferred_To__c</field>
            <value>
                <elementReference>DivisionsTransferred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Division_org_Id</targetReference>
        </connector>
        <object>SPG_Referral__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Creates multiple child referral records based on what division is selected.</description>
        <name>ChildReferral</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPG_Referral_Lead__c</objectType>
    </variables>
    <variables>
        <description>Name of division stamped on child referral.</description>
        <name>DivisionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ReferralDivisionCustomMetadataType.CIRef_Division_Display_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Division org ID from referral record.</description>
        <name>DivisionOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ReferralDivisionCustomMetadataType.CIRef_Divisional_Org_ID__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Store the prior value of division transferred to for tracking.</description>
        <name>DivisionTransferredtoPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndicesReferralCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InterestedProducts</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MIReferralCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlattsReferralCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RatingReferralCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Retrieves org ID and name of divisions submitting referral.</description>
        <name>ReferralDivisionCustomMetadataType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CIRef_Divisions__mdt</objectType>
    </variables>
    <variables>
        <description>ID of parent referral record linked to child routed referral.</description>
        <name>ReferralRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>RetrievedDivisionOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
