flows/Innovation_Create_Slack_Channel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_If_Channel_Exists</name>
        <label>Check If Channel Exists</label>
        <locationX>628</locationX>
        <locationY>383</locationY>
        <actionName>Innovation_CheckIfSlackChannelExists</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Channel_Exists_or_Not</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>forSlackChannel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Innovation_CheckIfSlackChannelExists</nameSegment>
        <outputParameters>
            <assignToReference>IsChannelExists</assignToReference>
            <name>isChannelExists</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_a_slack_channel</name>
        <label>Create a slack channel</label>
        <locationX>809</locationX>
        <locationY>384</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Slack_Channel_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>forSlackChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T044N6RG4TU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackCreateChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Channel_Exists_or_Not</name>
        <label>Check Channel Exists or Not</label>
        <locationX>624</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Channel_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsChannelExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_slack_channel</targetReference>
            </connector>
            <label>If Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_User_Choice</name>
        <label>Get User Choice</label>
        <locationX>287</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Name</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forSlackChannel</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(LOWER(LEFT({!Get_Record_Name.Account.Name}, 20)), &quot; &quot;, &quot;-&quot;),&quot;(&quot;,&quot;-&quot;),&quot;)&quot;,&quot;-&quot;),&quot;,&quot;,&quot;-&quot;),&quot;&amp;&quot;,&quot;-&quot;),&quot;/&quot;,&quot;-&quot;)&amp;&quot;-&quot;&amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(LOWER(LEFT({!Get_Record_Name.Name}, 40)), &quot; &quot;, &quot;-&quot;),&quot;(&quot;,&quot;-&quot;),&quot;)&quot;,&quot;-&quot;),&quot;.&quot;,&quot;-&quot;),&quot;,&quot;,&quot;-&quot;),&quot;&amp;&quot;,&quot;-&quot;),&quot;/&quot;,&quot;-&quot;)</expression>
    </formulas>
    <interviewLabel>Innovation Create Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innovation Create Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_Name</name>
        <label>Get Record Name</label>
        <locationX>618</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Channel_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Channel_Already_Exists</name>
        <label>Channel Already Exists</label>
        <locationX>829</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChannelExists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(90, 134, 83);&quot;&gt;Channel already Exists!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Option</name>
        <label>Select Option</label>
        <locationX>293</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_Choice</targetReference>
        </connector>
        <fields>
            <name>SelectOption</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(56, 118, 62);&quot;&gt;Do you want to create a Slack Channel?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Choice</elementReference>
            </defaultValue>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Slack_Channel_Created</name>
        <label>Slack Channel Created</label>
        <locationX>1033</locationX>
        <locationY>383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChannelCreatedSuccessfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(90, 134, 83);&quot;&gt;Slack Channel Created Successfully&lt;/strong&gt;&lt;strong style=&quot;color: rgb(56, 118, 62);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_Option</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsChannelExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
