flows/Innovation_Create_Opportunity_Message_to_Slack.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_BankOfAmerica</name>
        <label>Post To BankOfAmerica</label>
        <locationX>207</locationX>
        <locationY>421</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OpportunityDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2z780000000xWmAAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Deutsche</name>
        <label>Post To Deutsche</label>
        <locationX>613</locationX>
        <locationY>422</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OpportunityDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2z780000000xWrAAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Standard_Chartered</name>
        <label>Post To Standard Chartered</label>
        <locationX>410</locationX>
        <locationY>580</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OpportunityDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a2z780000000xWhAAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Ultimate_Parent</name>
        <label>Check Ultimate Parent</label>
        <locationX>392</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Bank_Of_America</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.UltimateParent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank of America</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_BankOfAmerica</targetReference>
            </connector>
            <label>If Bank Of America</label>
        </rules>
        <rules>
            <name>If_Deutsche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.UltimateParent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DEUTSCHE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Deutsche</targetReference>
            </connector>
            <label>If Deutsche</label>
        </rules>
        <rules>
            <name>If_Standard_Chartered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.UltimateParent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standard Chartered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Standard_Chartered</targetReference>
            </connector>
            <label>If Standard Chartered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Innovation Create Opportunity Message to Slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innovation Create Opportunity Message to Slack</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>276</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Check_Ultimate_Parent</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpportunityDetails</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A New Opportunity is created. Details are below:</text>
    </textTemplates>
</Flow>
