flows/Referral_Leads_Stamp_Country.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_From_IHS_Markit_Divisions</name>
        <label>Is From IHS Markit Divisions?</label>
        <locationX>165</locationX>
        <locationY>1183</locationY>
        <defaultConnectorLabel>Not IHS Markit Divisions</defaultConnectorLabel>
        <rules>
            <name>IHS_Markit_Divisions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automotive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CMS/Product Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_From_IHS_Markit_Country</targetReference>
            </connector>
            <label>IHS Markit Divisions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_Indices</name>
        <label>Is From Indices?</label>
        <locationX>155</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Is_From_Platts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not From Indices</defaultConnectorLabel>
        <rules>
            <name>From_Indices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indices</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_From_Indices_Country</targetReference>
            </connector>
            <label>From Indices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_MI</name>
        <label>Is From MI?</label>
        <locationX>160</locationX>
        <locationY>1023</locationY>
        <defaultConnector>
            <targetReference>Is_From_IHS_Markit_Divisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not From MI</defaultConnectorLabel>
        <rules>
            <name>From_MI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_From_MI_Country</targetReference>
            </connector>
            <label>From MI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_Platts</name>
        <label>Is From Platts?</label>
        <locationX>163</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Is_From_Ratings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not From Platts</defaultConnectorLabel>
        <rules>
            <name>From_Platts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_From_Platts_Country</targetReference>
            </connector>
            <label>From Platts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_Ratings</name>
        <label>Is From Ratings?</label>
        <locationX>158</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>Is_From_MI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not From Ratings</defaultConnectorLabel>
        <rules>
            <name>From_Ratings</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ratings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Division_Referred_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESG CSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_From_Ratings_Country</targetReference>
            </connector>
            <label>From Ratings</label>
        </rules>
    </decisions>
    <description>For mismatched country values, flow searches for the IHS Markit specific country value and stamps it on the record.</description>
    <environments>Default</environments>
    <interviewLabel>Referral Leads - Stamp Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Leads - Stamp Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_From_IHS_Markit_Country</name>
        <label>Get From IHS Markit Country</label>
        <locationX>306</locationX>
        <locationY>1182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IHS_Markit_Country_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHS_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Indices_Country</name>
        <label>Get From Indices Country</label>
        <locationX>340</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_From_Indices_Country_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Indices_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Country lookup updates region formula field on lead.</description>
        <name>Get_From_Indices_Country_Lookup</name>
        <label>Get From Indices Country Lookup</label>
        <locationX>455</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indices_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_Indices_Country.IHS_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_MI_Country</name>
        <label>Get From MI Country</label>
        <locationX>312</locationX>
        <locationY>1024</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_From_MI_Country_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MI_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_MI_Country_Lookup</name>
        <label>Get From MI Country Lookup</label>
        <locationX>443</locationX>
        <locationY>1024</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MI_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_MI_Country.IHS_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Platts_Country</name>
        <label>Get From Platts Country</label>
        <locationX>325</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_From_Platts_Country_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Platts_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Platts_Country_Lookup</name>
        <label>Get From Platts Country Lookup</label>
        <locationX>439</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Platts_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_Platts_Country.IHS_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Ratings_Country</name>
        <label>Get From Ratings Country</label>
        <locationX>326</locationX>
        <locationY>836</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_From_Ratings_Country_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ratings_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_From_Ratings_Country_Lookup</name>
        <label>Get From Ratings Country Lookup</label>
        <locationX>433</locationX>
        <locationY>836</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ratings_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_Ratings_Country.IHS_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IHS_Markit_Country_Lookup</name>
        <label>Get IHS Markit Country Lookup</label>
        <locationX>423</locationX>
        <locationY>1181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IHS_Markit_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_IHS_Markit_Country.IHS_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IHS_Account_Country</name>
        <label>IHS Account Country</label>
        <locationX>653</locationX>
        <locationY>1194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IHS_Account_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHS_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IHS_Account_State</name>
        <label>IHS Account State</label>
        <locationX>757</locationX>
        <locationY>1194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Fields_from_IHS_Markit_divisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHS_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_State_Province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IHS_Markit_State</name>
        <label>IHS Markit State</label>
        <locationX>538</locationX>
        <locationY>1181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IHS_Account_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHS_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Indices_Account_Country</name>
        <label>Indices Account Country</label>
        <locationX>673</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indices_Account_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Indices_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Indices_Account_State</name>
        <label>Indices Account State</label>
        <locationX>812</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Fields_From_Indices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Indices_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_State_Province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Indices_State</name>
        <label>Indices State</label>
        <locationX>556</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indices_Account_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Indices_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MI_Account_Country</name>
        <label>MI Account Country</label>
        <locationX>692</locationX>
        <locationY>1030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MI_Account_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MI_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MI_Account_State</name>
        <label>MI Account State</label>
        <locationX>816</locationX>
        <locationY>1021</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Fields_From_MI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MI_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_State_Province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MI_State</name>
        <label>MI State</label>
        <locationX>572</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MI_Account_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MI_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Platts_Account_Country</name>
        <label>Platts Account Country</label>
        <locationX>691</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Platts_Account_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Platts_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Platts_Account_State</name>
        <label>Platts Account State</label>
        <locationX>792</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Fields_From_Platts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Platts_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_State_Province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Platts_State</name>
        <label>Platts State</label>
        <locationX>561</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Platts_Account_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Platts_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ratings_Account_Country</name>
        <label>Ratings Account Country</label>
        <locationX>652</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ratings_Account_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ratings_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ratings_Account_State</name>
        <label>Ratings Account State</label>
        <locationX>772</locationX>
        <locationY>836</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Fields_From_Ratings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ratings_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CIRef_Account_State_Province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ratings_State</name>
        <label>Ratings State</label>
        <locationX>542</locationX>
        <locationY>836</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ratings_Account_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ratings_State_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Lead_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_State__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>US-4728556: Set unknown email field to TRUE when email is blank.</description>
        <name>Set_Unknown_Email_to_TRUE</name>
        <label>Set Unknown Email to TRUE</label>
        <locationX>154</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Is_From_Indices</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EmailUnknown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields_from_IHS_Markit_divisions</name>
        <label>Stamp Fields from IHS Markit divisions</label>
        <locationX>874</locationX>
        <locationY>1194</locationY>
        <inputAssignments>
            <field>CIRef_Account_Country__c</field>
            <value>
                <elementReference>IHS_Account_Country.IHS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRef_Account_State_Province__c</field>
            <value>
                <elementReference>IHS_Account_State.IHS_State_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_From_IHS_Markit_Country.IHS_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_IHS_Markit_Country_Lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>IHS_Markit_State.IHS_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields_From_Indices</name>
        <label>Stamp Fields From Indices</label>
        <locationX>924</locationX>
        <locationY>438</locationY>
        <inputAssignments>
            <field>CIRef_Account_Country__c</field>
            <value>
                <elementReference>Indices_Account_Country.IHS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRef_Account_State_Province__c</field>
            <value>
                <elementReference>Indices_Account_State.Indices_State_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_From_Indices_Country.IHS_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_From_Indices_Country_Lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>Indices_State.IHS_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields_From_MI</name>
        <label>Stamp Fields From MI</label>
        <locationX>928</locationX>
        <locationY>1026</locationY>
        <inputAssignments>
            <field>CIRef_Account_Country__c</field>
            <value>
                <elementReference>MI_Account_Country.IHS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRef_Account_State_Province__c</field>
            <value>
                <elementReference>MI_Account_State.IHS_State_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_From_MI_Country.IHS_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_From_MI_Country_Lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>MI_State.IHS_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields_From_Platts</name>
        <label>Stamp Fields From Platts</label>
        <locationX>928</locationX>
        <locationY>657</locationY>
        <inputAssignments>
            <field>CIRef_Account_Country__c</field>
            <value>
                <elementReference>Platts_Account_Country.IHS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRef_Account_State_Province__c</field>
            <value>
                <elementReference>Platts_Account_State.IHS_State_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_From_Platts_Country.IHS_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_From_Platts_Country_Lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>Platts_State.IHS_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields_From_Ratings</name>
        <label>Stamp Fields From Ratings</label>
        <locationX>901</locationX>
        <locationY>837</locationY>
        <inputAssignments>
            <field>CIRef_Account_Country__c</field>
            <value>
                <elementReference>Ratings_Account_Country.IHS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRef_Account_State_Province__c</field>
            <value>
                <elementReference>Ratings_Account_State.IHS_State_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_From_Ratings_Country.IHS_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_From_Ratings_Country_Lookup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>Ratings_State.IHS_State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Unknown_Email_to_TRUE</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPG Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
