flows/S1_Response_Auto_Populate_fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email to notify request owner of new response</description>
        <name>Notify_Request_Owner</name>
        <label>Notify Request Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Owner_Blank</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewResponseNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.S1_Request__r.Requestor_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_RFA_Configurations.From_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewResponseEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Push_updates_On_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outgoing</defaultConnectorLabel>
        <rules>
            <name>Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RFA_Configurations</targetReference>
            </connector>
            <label>Is Incoming?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if owner and owner email are blank</description>
        <name>Is_Owner_Blank</name>
        <label>Is Owner Blank?</label>
        <locationX>336</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RFA_Configurations.Send_Email_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Request_Owner</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>US 5444569: Auto Populate Response fields when a new record is created</description>
    <environments>Default</environments>
    <formulas>
        <name>OrgBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550}))&amp;{!S1RequestId}</expression>
    </formulas>
    <interviewLabel>S1 Response - Auto Populate fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S1 Response - Auto Populate fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RFA_Configurations</name>
        <label>Get RFA Configurations</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>S1_RFA_Configurations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update owner&apos;s name and email</description>
        <name>Update_Owner_Details</name>
        <label>Update Owner Details</label>
        <locationX>204</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Owner_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the response is updated, update the push updates flag on the parent request</description>
        <name>Update_Push_updates_On_Request</name>
        <label>Update Push updates On Request</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Is_Owner_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Push_Updates__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.S1_Request__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <object>S1_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewResponseNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.S1_Request__r.Owner:User.FirstName} {!$Record.S1_Request__r.Owner:User.LastName},&lt;/p&gt;&lt;p&gt;This is to inform you that a new response with the following details has been created on your request &lt;a href=&quot;{!OrgBaseUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.S1_Request__r.Name}:&lt;/a&gt; {!$Record.S1_Request__r.Description__c}&lt;/p&gt;&lt;p&gt;Description: {!$Record.Description__c}&lt;/p&gt;&lt;p&gt;To view the Response, please click on this link: {!OrgBaseUrl}&lt;/p&gt;&lt;p&gt;Thank you,&lt;br/&gt;Admin&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewResponseEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New response received on your S1 Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>S1RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.S1_Request__c</elementReference>
        </value>
    </variables>
</Flow>
