flows/Update_Contact_Info_on_Referral.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>If the contact&apos;s entire mailing address is blank (street, city, state, zip, country), then use account&apos;s mailing address.</description>
        <name>Contact_Mailing_Address_Blank</name>
        <label>Contact Mailing Address Blank?</label>
        <locationX>413</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Update_Referral_with_Contact_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_with_Account_Address</targetReference>
            </connector>
            <label>Mailing Address Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Transfer</name>
        <label>Lead Transfer?</label>
        <locationX>68</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Contact_Mailing_Address_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Lead Transfer</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead_Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Member_from_Lead</targetReference>
            </connector>
            <label>Is Lead Transfer</label>
        </rules>
    </decisions>
    <description>US-3861722: DO NOT MODIFY/DELETE. When a referral is created from an account, auto-populate the contact info referral record.</description>
    <formulas>
        <description>If Billing Country is US, Canada, and/or Australia, then map mailing state. Other countries do not have validation and will error out in the integration.</description>
        <name>BillingStateValidation</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(&quot;United States:USA:Canada:Australia&quot;,{!$Record.Account__r.BillingCountry}), {!$Record.Account__r.BillingState}, null)</expression>
    </formulas>
    <formulas>
        <description>Pre-populates contact&apos;s main phone number, if blank uses the mobile number to pre-populate the contact phone number field.</description>
        <name>ContactPhoneMobile</name>
        <dataType>String</dataType>
        <expression>If(IsBlank({!$Record.Contact__r.Phone}),{!$Record.Contact__r.MobilePhone}, {!$Record.Contact__r.Phone})</expression>
    </formulas>
    <formulas>
        <description>If Mailing Country is US, Canada, and/or Australia, then map mailing state. Other countries do not have validation and will error out in the integration.</description>
        <name>MailingStateValidation</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(&quot;United States:USA:Canada:Australia&quot;,{!$Record.Contact__r.MailingCountry}), {!$Record.Contact__r.MailingState}, null)</expression>
    </formulas>
    <interviewLabel>Update Contact Info on Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Info on Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves lead primary name campaign for tracking on lead transfer.</description>
        <name>Campaign_Member_from_Lead</name>
        <label>Campaign Member from Lead</label>
        <locationX>209</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Campaign_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Insert campaign name on lead source field on the referral.</description>
        <name>Update_Lead_Campaign_Source</name>
        <label>Update Lead Campaign Source</label>
        <locationX>211</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Lead_Campaign_Source__c</field>
            <value>
                <elementReference>Campaign_Member_from_Lead.Campaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If contact&apos;s mailing address is blank, use the related account&apos;s billing address.</description>
        <name>Update_Referral_with_Account_Address</name>
        <label>Update Referral with Account Address</label>
        <locationX>564</locationX>
        <locationY>146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pre-Load</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Country__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Phone__c</field>
            <value>
                <elementReference>ContactPhoneMobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_State_Province__c</field>
            <value>
                <elementReference>BillingStateValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Street__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>$Record.Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>US-3855877: Automatically updates record type to &quot;Referral Routed&quot; when status is updated to &quot;Routed&quot; by informatica.</description>
        <name>Update_Referral_with_Contact_Address</name>
        <label>Update Referral with Contact Address</label>
        <locationX>671</locationX>
        <locationY>363</locationY>
        <inputAssignments>
            <field>Contact_City__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Country__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Phone__c</field>
            <value>
                <elementReference>ContactPhoneMobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_State_Province__c</field>
            <value>
                <elementReference>MailingStateValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Street__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Title__c</field>
            <value>
                <elementReference>$Record.Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Lead_Transfer</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SPG_Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
