flows/Update_Account_Compliance_Status_and_Stop_Renew_on_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Account_Record_On_Opportunity</name>
        <label>Check Account Record On Opportunity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Is_Not_Null_And_Compliance_Status_Is_Future_Approval_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ComplianceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Compliance Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_AutoRenew_On_Contract</targetReference>
            </connector>
            <label>Account Is Not Null And Compliance Status Is Future Approval Required</label>
        </rules>
    </decisions>
    <description>(SFDC-5716) Integrate Actimize with Salesforce.</description>
    <interviewLabel>Update Account Compliance Status and Stop Renew on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Compliance Status and Stop Renew on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stop_AutoRenew_On_Contract</name>
        <label>Stop AutoRenew On Contract</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Stop_AutoRenew_On_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReadyForProcessing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AutoRenewStopped__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stop_AutoRenew_On_Opportunity</name>
        <label>Stop AutoRenew On Opportunity</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Account_Compliance_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoRenewStopped__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Compliance_Status</name>
        <label>Update Account Compliance Status</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ComplianceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future Compliance Approval Required</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ComplianceStatus__c</field>
            <value>
                <stringValue>Compliance Approval Required</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Record_On_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6WP-Closed Won/Order Processed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
