flows/VOCFeedbackFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AccountIdAssignment</name>
        <label>AccountIdAssignment</label>
        <locationX>3432</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputrecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignVocercordDefaultValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggregrateProducts</name>
        <label>AggregrateProducts</label>
        <locationX>1018</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>AggregateSelectedFeedBackIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverSelectedFeedBacks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AggregrateProductNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverSelectedFeedBacks.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AggregrateProductNames2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverSelectedFeedBacks.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AggregrateProductNames2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverSelectedFeedBacks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFeedbackTypes</name>
        <label>AssignFeedbackTypes</label>
        <locationX>1804</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>FeedbackRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>feedbackproductloop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.CustomerSuggestionFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCustomerSuggestionFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ActionableActionItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodActionableItemsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.StatusFinalComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodStatusFinalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.VoiceofCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VOCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.FeedbackType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackTypesmultilist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ConceptName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conceptname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeedbackRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>feedbackproductloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFeedbackTypesforProductgroup</name>
        <label>AssignFeedbackTypesforProductgroup</label>
        <locationX>1474</locationX>
        <locationY>3229</locationY>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ProductGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopoverfeedbackproductgroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.CustomerSuggestionFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCustomerSuggestionFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ActionableActionItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodActionableItemsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.StatusFinalComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodStatusFinalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.VoiceofCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VOCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.FeedbackType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackTypesmultilist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ConceptName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conceptname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeedbackRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopoverfeedbackproductgroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignnewVoc</name>
        <label>assignnewVoc</label>
        <locationX>3117</locationX>
        <locationY>1695</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCreatedVOCrecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vocrecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCreatedVOCrecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feedback_ypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVocercordDefaultValues</name>
        <label>AssignVocercordDefaultValues</label>
        <locationX>2466</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerRepresentative__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SPGlobal_Representative__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SubmissionDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>VOCDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVocRecord</name>
        <label>assignVocRecord</label>
        <locationX>2477</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerAccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerRepresentative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerRepresentative.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SPGlobal_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPGlobalRepresentative.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SubmissionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLookUp.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckforVOCUpdateOrCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVOCRecordtoVar</name>
        <label>assignVOCRecord</label>
        <locationX>1796</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.CustomerAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerRepresentative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.CustomerRepresentative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SubmissionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.SubmissionDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.SPGlobal_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.SPGlobal_Representative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vocrecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputrecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVOCRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isEditMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VOCDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearfeedbackproduct</name>
        <label>clearfeedbackproduct</label>
        <locationX>2471</locationX>
        <locationY>2398</locationY>
        <assignmentItems>
            <assignToReference>feedbackproduct.recordIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>feedbackproduct.recordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackTypes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FeedbackTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getProdIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackproduct.recordIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackproduct.recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmptyList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.Product__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ProductGroup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>getFeedBackTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearSelectedfeedbacktypes</name>
        <label>clearSelectedfeedbacktypes</label>
        <locationX>703</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>SelectedFeedBackTypes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SelectedFeedBackTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AggregrateProductNames2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackTypestableV1.selectedRows</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>feedbackTypestableV1.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFeedBackTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>feedbackproductassign</name>
        <label>feedbackproductassign</label>
        <locationX>2042</locationX>
        <locationY>2692</locationY>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ActionableActionItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodActionableItemsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.CustomerSuggestionFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productCustomerSuggestionFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.StatusFinalComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prodStatusFinalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.VoiceofCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VOCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.FeedbackType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackTypesmultilist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.Product__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ProductGroup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackRecord.ConceptName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conceptname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeedbackTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeedbackRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFeedBackRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpporunityAssignment</name>
        <label>OpporunityAssignment</label>
        <locationX>2466</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>VOCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputrecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VOCRecord.CustomerAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunitydetails.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignVocercordDefaultValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatedEditedFeedBackTypes</name>
        <label>updatedEditedFeedBackTypes</label>
        <locationX>50</locationX>
        <locationY>2467</locationY>
        <assignmentItems>
            <assignToReference>EditedFeedBackType.CustomerSuggestionFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EditScreenCustomerFeedBack</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedFeedBackType.ActionableActionItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EditScreenActionableItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedFeedBackType.StatusFinalComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EditScreenFinalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedFeedBackType.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetSelectedFeedBackTypeeditedValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedFeedBackTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EditedFeedBackType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetSelectedFeedBackTypeeditedValues</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddMoreFeedBacks</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>AssociateSingleFeedbacktoMultipleProducts</name>
        <choiceText>Associate Single Feedback to Multiple Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Associate Single Feedback to Multiple Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewFeedback</name>
        <choiceText>New Feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Feedback</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAction</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMoreFeedBacks</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ProductFeedback</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Productgroup</name>
        <choiceText>Product Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Selectdelete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>selectEdit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckActionType</name>
        <label>CheckActionType</label>
        <locationX>1522</locationX>
        <locationY>2467</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EditAction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feedbackTypestableV1.firstselectedRow.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverSelectedFeedBacks</targetReference>
            </connector>
            <label>EditAction</label>
        </rules>
        <rules>
            <name>DeleteAction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feedbackTypestableV1.firstselectedRow.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteFeedBackTypes</targetReference>
            </connector>
            <label>DeleteAction</label>
        </rules>
        <rules>
            <name>NewFeedbackdecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_ypes</targetReference>
            </connector>
            <label>New Feedback</label>
        </rules>
        <rules>
            <name>EditActionwithNoRowSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectEdit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feedbackTypestableV1.firstselectedRow.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFeedBackTypes</targetReference>
            </connector>
            <label>EditActionwithNoRowSelected</label>
        </rules>
        <rules>
            <name>DeleteActionWithNoRowSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Selectdelete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feedbackTypestableV1.firstselectedRow.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFeedBackTypes</targetReference>
            </connector>
            <label>DeleteActionWithNoRowSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforVOCUpdateOrCreate</name>
        <label>CheckforVOCUpdateOrCreate</label>
        <locationX>2472</locationX>
        <locationY>1256</locationY>
        <defaultConnector>
            <targetReference>Create_VOC_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIfVOCIDExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vocrecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VOC</targetReference>
            </connector>
            <label>CheckIfVOCIDExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfProductGroupisSet</name>
        <label>CheckIfProductGroupisSet</label>
        <locationX>1410</locationX>
        <locationY>2905</locationY>
        <defaultConnector>
            <targetReference>feedbackproductloop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignProductgroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductVsProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Productgroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopoverfeedbackproductgroup</targetReference>
            </connector>
            <label>AssignProductgroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSobjectType</name>
        <label>CheckSobjectType</label>
        <locationX>2455</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>getVOCRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfSobjectTypeisAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountIdAssignment</targetReference>
            </connector>
            <label>IfSobjectTypeisAccount</label>
        </rules>
        <rules>
            <name>IsSobjectTypeOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunitydetails</targetReference>
            </connector>
            <label>IsSobjectTypeOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifproductisBlank</name>
        <label>ifproductisBlank</label>
        <locationX>1254</locationX>
        <locationY>2619</locationY>
        <defaultConnector>
            <targetReference>CheckIfProductGroupisSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkifnoprodSelected</name>
            <conditionLogic>(1 OR 2  ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>feedbackproduct.recordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>feedbackproduct.recordIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyList</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductVsProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductFeedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>feedbackproductassign</targetReference>
            </connector>
            <label>checkifnoprodSelected</label>
        </rules>
        <rules>
            <name>checknoProductGroupisSelected</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>selectproductgroup.recordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectproductgroup.recordIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyList</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductVsProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Productgroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>feedbackproductassign</targetReference>
            </connector>
            <label>checknoProductGroupisSelected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FeedBackTypepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Type__c</picklistField>
        <picklistObject>FeedbackTypes__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IdType</name>
        <dataType>String</dataType>
        <expression>LEFT({!InputrecordId}, 3)</expression>
    </formulas>
    <interviewLabel>VOC Feedback Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOC Feedback Flow</label>
    <loops>
        <name>feedbackproductloop</name>
        <label>Feedback Product Loop</label>
        <locationX>1760</locationX>
        <locationY>2889</locationY>
        <collectionReference>feedbackproduct.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFeedbackTypes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateFeedBackRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopoverfeedbackproductgroup</name>
        <label>loopoverfeedbackproductgroup</label>
        <locationX>1205</locationX>
        <locationY>3027</locationY>
        <collectionReference>selectproductgroup.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFeedbackTypesforProductgroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateFeedBackRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverSelectedFeedBacks</name>
        <label>LoopOverSelectedFeedBacks</label>
        <locationX>1019</locationX>
        <locationY>2471</locationY>
        <collectionReference>feedbackTypestableV1.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AggregrateProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EditFeedBackTypeScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SetSelectedFeedBackTypeeditedValues</name>
        <label>SetSelectedFeedBackTypeeditedValues</label>
        <locationX>374</locationX>
        <locationY>2463</locationY>
        <collectionReference>feedbackTypestableV1.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updatedEditedFeedBackTypes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatedFeedBackTypes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_VOC_Record</name>
        <label>Create VOC Record</label>
        <locationX>3116</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>getCreatedVOCrecord</targetReference>
        </connector>
        <inputReference>VOCRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateFeedBackRecords</name>
        <label>CreateFeedBackRecords</label>
        <locationX>2294</locationX>
        <locationY>2860</locationY>
        <connector>
            <targetReference>clearfeedbackproduct</targetReference>
        </connector>
        <inputReference>FeedbackTypes</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteFeedBackTypes</name>
        <label>DeleteFeedBackTypes</label>
        <locationX>1762</locationX>
        <locationY>1877</locationY>
        <connector>
            <targetReference>getFeedBackTypes</targetReference>
        </connector>
        <inputReference>feedbackTypestableV1.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getCreatedVOCrecord</name>
        <label>getCreatedVOCrecord</label>
        <locationX>3115</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignnewVoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VOCRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceofCustomer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFeedBackTypes</name>
        <label>getFeedBackTypes</label>
        <locationX>1522</locationX>
        <locationY>1497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingFeedBackTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VoiceofCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vocrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedbackTypes__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CustomerSuggestionFeedback__c</queriedFields>
        <queriedFields>FeedbackType__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StatusFinalComment__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>ProductName__c</queriedFields>
        <queriedFields>ActionableActionItems__c</queriedFields>
        <queriedFields>ProductGroup__c</queriedFields>
        <queriedFields>ProductGroupName__c</queriedFields>
        <queriedFields>ConceptName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunitydetails</name>
        <label>getOpportunitydetails</label>
        <locationX>2465</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpporunityAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVOCRecord</name>
        <label>getVOCRecord</label>
        <locationX>1802</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignVOCRecordtoVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceofCustomer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VOC</name>
        <label>Update VOC</label>
        <locationX>1524</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>getFeedBackTypes</targetReference>
        </connector>
        <inputReference>VOCRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatedFeedBackTypes</name>
        <label>updatedFeedBackTypes</label>
        <locationX>189</locationX>
        <locationY>2008</locationY>
        <connector>
            <targetReference>clearSelectedfeedbacktypes</targetReference>
        </connector>
        <inputReference>SelectedFeedBackTypes</inputReference>
    </recordUpdates>
    <screens>
        <name>EditFeedBackTypeScreen</name>
        <label>EditFeedBackTypeScreen</label>
        <locationX>767</locationX>
        <locationY>2455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetSelectedFeedBackTypeeditedValues</targetReference>
        </connector>
        <fields>
            <name>EditFeedBackTypeScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditFeedBackTypeScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayonEditFeedback</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please Update Feedback for {!AggregrateProductNames2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EditFeedBackTypeScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditFeedBackTypeScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditScreenActionableItems</name>
                    <defaultValue>
                        <stringValue>{!feedbackTypestableV1.firstselectedRow.ActionableActionItems__c}</stringValue>
                    </defaultValue>
                    <fieldText>Action Items</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EditScreenFinalComment</name>
                    <defaultValue>
                        <stringValue>{!feedbackTypestableV1.firstselectedRow.StatusFinalComment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Status/ Final Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditFeedBackTypeScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditScreenCustomerFeedBack</name>
                    <defaultValue>
                        <stringValue>{!feedbackTypestableV1.firstselectedRow.CustomerSuggestionFeedback__c}</stringValue>
                    </defaultValue>
                    <fieldText>VOC Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExistingFeedBackTypes</name>
        <label>FeedBack Types</label>
        <locationX>1252</locationX>
        <locationY>1856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckActionType</targetReference>
        </connector>
        <fields>
            <name>feedbacklist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Feedback - {!VOCRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>feedbackTypestableV1</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>FeedbackTypes__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:vocFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>getFeedBackTypes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectActionType</name>
            <choiceReferences>selectEdit</choiceReferences>
            <choiceReferences>Selectdelete</choiceReferences>
            <choiceReferences>NewFeedback</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NoAction</elementReference>
            </defaultValue>
            <fieldText>Select Action Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Feedback_ypes</name>
        <label>Feedback Types</label>
        <locationX>3122</locationX>
        <locationY>1989</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifproductisBlank</targetReference>
        </connector>
        <fields>
            <name>createFeedback</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;New Feedback - {!VOCRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_ypes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Feedback_ypes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductVsProductGroup</name>
                    <choiceReferences>ProductFeedback</choiceReferences>
                    <choiceReferences>Productgroup</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ProductFeedback</defaultSelectedChoiceReference>
                    <fieldText>Product / Product Group</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Feedback_ypes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FeedbackTypesmultilist</name>
                    <choiceReferences>FeedBackTypepicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Feedback_ypes_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Feedback_ypes_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>feedbackproduct</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FeedbackTypes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getProdIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductVsProductGroup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ProductFeedback</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Feedback_ypes_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductVsProductGroup</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProductFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Feedback_ypes_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Feedback_ypes_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectproductgroup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ProductGroup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Product Group</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FeedbackTypes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getProdIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductVsProductGroup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Productgroup</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Feedback_ypes_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductVsProductGroup</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Productgroup</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Feedback_ypes_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Feedback_ypes_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productCustomerSuggestionFeedback</name>
                    <fieldText>VOC Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>prodActionableItemsList</name>
                    <fieldText>Action Items</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Feedback_ypes_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>prodStatusFinalComment</name>
                    <fieldText>Status/ Final Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>conceptname</name>
                    <fieldText>Concept Name</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AssociateSingleFeedbacktoMultipleProducts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Associate Single Feedback to Multiple Products</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VOCDetails</name>
        <label>VOC Details</label>
        <locationX>2461</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignVocRecord</targetReference>
        </connector>
        <fields>
            <name>VOCDetails1</name>
            <fieldText>VOC Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VOCDetails1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerRepresentative</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerRepresentative__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Representative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VoiceofCustomer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VOCRecord.CustomerRepresentative__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomerAccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerAccountName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer/ Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VoiceofCustomer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VOCRecord.CustomerAccountName__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OpportunityLookUp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VOCRecord.Opportunity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VOCDetails1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPGlobalRepresentative</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>S&amp;P Global Representative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SPGlobal_Representative__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VoiceofCustomer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VOCRecord.SPGlobal_Representative__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SubmissionDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>VOCRecord.SubmissionDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Submission Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2340</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckSobjectType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AggregateSelectedFeedBackIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AggregrateProductNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AggregrateProductNames2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EditedFeedBackType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedbackTypes__c</objectType>
    </variables>
    <variables>
        <name>EmptyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedbackRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedbackTypes__c</objectType>
    </variables>
    <variables>
        <name>FeedbackTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedbackTypes__c</objectType>
    </variables>
    <variables>
        <name>getProdIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEditMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedFeedBackTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedbackTypes__c</objectType>
    </variables>
    <variables>
        <name>VOCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VoiceofCustomer__c</objectType>
    </variables>
    <variables>
        <name>vocrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
